.custom-container {
  padding-left: 15rem;
  padding-right: 15rem;
}
.custom-body {
  margin-top: 30px;
  padding: 0px 15px 15px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media print {
  @page {
   
    margin: 25px 20px 5px 5px;
  }

  html,
  body {
   
      height: 100%;
      margin: 0 5px 0 !important;
      padding: 0 !important;
      /* overflow: hidden; */
      visibility: visible;
  }
  .custom-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .custom-body {
    margin-top: 0px;
    padding: 0;
    box-shadow: none;
    
  }
  .col-lg-8{
    width: 80%;
    margin: auto;
    display: flex;
  }
  .footer {
    position: fixed;
    top: 430px;
    width: 93.5%;
}
  .print-sec {
    visibility: hidden;
  }
  
#divname, #divname {
visibility: visible;
}

#divname
{
    overflow: visible !important; 
    float:none !important;
    position: fixed;
    left: 0px;
    top: 0px;
    display:block !important;
    
}

}

